<%- include('partials/header'); -%>

    <form>
        <h2>Validate Animation</h2>
        <label for="role">Validate</label>
        <select name="validateStat" id="role">
            <option value="true">true</option>
            <option value="false" selected>false</option>
        </select>
        <button>Confirm</button>
    </form>

    <script>
        const form = document.querySelector('form')

        form.addEventListener('submit', async (e) => {
            e.preventDefault()

            // get the value
            const val = form.validateStat.value
            const validateStat = Boolean(val)
            const path = window.location.pathname; // "/users/123/profile"
            const userId = path.split('/')[0];
            console.log(userId); // "123"
            
            const res = await fetch('/animations/validate/${animationID}', {
                method: 'POST',
                body: JSON.stringify({ validateStat }),
                headers: { 'Content-Type': 'application/json' }
            })
                .then(response => response.json)
                .then(data => console.log(data))
                .catch(error => console.error(error))
        })

    </script>

    <%- include('partials/footer'); -%>