<%- include('partials/header'); -%>

  <header>
    <!-- <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div> -->
    <div>This is homepage</div>
    <div class="headings">
      <a href="/content" class="btn">View content</a>
    </div>
  </header>


  <%- include('partials/footer'); -%>